
/* styles/Sidebar.module.css */
.sidebar {
  position: fixed;
  top: 0;
  right: -300px; 
  width: 300px;
  height: 100%;
  background-color: #f8f8f8;
  box-shadow: -2px 0 5px rgba(0,0,0,0.5);
  transition: right 0.3s ease;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

.open {
  right: 0; /* Show sidebar */
}

.closeButton {
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  align-self: flex-end;
  margin-right: 20px;
}

.links {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  text-align: center;
}

.links li {
  margin: 20px 0;
}

.links a {
  /* text-decoration: none;
  color: gray;
  /* font-size:large; */
  color: #333;
  text-decoration: none;
  font-weight: bold; 
  font-size: 1.2rem;
  font-weight: normal;
  transition: all 0.3s ease;

}

.links a:hover {
  color: #000;
  font-weight: bold;}

/*  */